<section>
    <nav class="navbar navbar-dark bg-primary " style="color: white;">

        <div class="container-fluid">
            <h2 class="text-center m-auto">Welcome to College System</h2>
        </div>
    </nav>
    <!-- <main style="float: left;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 150px;">
             <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"></a> 
            <ul class="nav nav-pills flex-column mb-auto fs-6 ">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active" class="nav-link text-uppercase" aria-current="page">
                       Home
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher" routerLinkActive="active" class="nav-link link-dark ">
                        Teacher
                    </a>
                </li>
                <li>
                    <a routerLink="/student" routerLinkActive="active" class="nav-link link-dark">
                      Student
                    </a>
                </li>
                 <li>
                    <a href="#" class="nav-link link-dark">
                      Products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                      Customers
                    </a>
                </li> 
            </ul>
        </div>
    </main> -->
    <section class="row col-12" >
        <main class="float-left" style="width: 20%;">
            <div class="d-flex flex-column flex-shrink-0 p-1 text-white bg-dark"  >
    
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
    
                        <a routerLink="/home" routerLinkActive="active" class="nav-link text-uppercase"
                            aria-current="page">
                            Home
                        </a>
    
                    </li>
                    <li>
                        <a routerLink="/teacher" routerLinkActive="active" class="nav-link link-dark  text-white">
                            Teacher
                        </a>
                    </li>
                    <li>
                        <a routerLink="/student" routerLinkActive="active" class="nav-link link-dark text-white">
                            Student
                        </a>
                    </li>

                    <li>
                        <a routerLink="/library" routerLinkActive="active" class="nav-link link-dark text-white">
                            Library
                        </a>
                    </li>
                   
                </ul>
             
               
            </div>
        </main>
        <section class="row mr-4" style="float:left; width: 60%;">
            <div class="d-flex flex-column flex-shrink-0 p-3" >
                <router-outlet></router-outlet>
            </div>
        </section>
    
        <section class="row" style="float:left; width: 20%;    " >
    
            <!-- <div>
                <h2>jlkasjdflkajdflkajsdf</h2>
                <p>lorem ipsum dolor sit amet, consectetur adip Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit reprehenderit facilis explicabo laboriosam sint officiis dignissimos doloremque rerum. Illo corporis est excepturi quia distinctio dicta suscipit quisquam mollitia laborum expedita.</p>
            </div> -->
            
        </section>
    
    </section>
    
    
</section>
